<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Llista de professors</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding="">
  <ion-list>
    <ion-item-group>
      <ion-item-divider color="light">Coordinadors</ion-item-divider>
      <ion-item detail-push *ngFor="let coordinador of coordinadors" (click)="contactoClicked(coordinador)">
        <strong>{{ coordinador.nombre }}</strong> {{ coordinador.apellido }}
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider color="light">Professors</ion-item-divider>
      <ion-item detail-push *ngFor="let professor of professors" (click)="contactoClicked(professor)">
        <strong>{{ professor.nombre }}</strong> {{ professor.apellido }}
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
